@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.option-button {
  background-color: rgb(31 41 55);
  color: white;
  border: none;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0.5rem 0;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.option-button:hover {
  background-color: rgb(17 24 39);
}
